#border {
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 50px;

  text-align: center;
}

#save {
  font-family: sans-Serif;
}

#successModal {
  background-color: #90ee90;
  color: black;
}

#errorModal {
  background-color: #dc143c;
  color: black;
}

.btn {
  font-family: sans-serif;
}

#hd {
  text-align: center;
}
