<br /><br /><br /><br /><br />
<h2 id="hd"><strong>PayGov</strong></h2>
<br />
<div id="border">
  <br />

  <br />
  <h4 id="save"><strong>Almost done, press complete button to finalize payment process</strong></h4>
  <br /><br />
  <button type="submit" routerLink="/" class="btn btn-primary">
    <fa-icon icon="ban"></fa-icon>&nbsp;&nbsp;
    <span>Cancel</span>
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button type="submit" (click)="save()" class="btn btn-primary" id="completebutton">
    <fa-icon icon="save"></fa-icon>&nbsp;&nbsp;
    <span>Complete</span>
  </button>
  <br /><br /><br />
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
