input {
  width: 370px;
  height: 35px;
  margin-left: 300px;
}

.form-control-label {
  margin-left: 300px;
}

#jhi-pay-heading {
  margin-left: 300px;
}

#btn {
  margin-left: 300px;
}

#nxt {
  margin-left: 188px;
}

#border {
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 50px;
}

#save {
  font-family: sans-serif;
}

#successModal {
  background-color: #90ee90;
  color: black;
}

#errorModal {
  color: black;
}

.btn {
  font-family: sans-serif;
}
